# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Build artifacts / packages
*.zip
*.egg-info/
dist/
build/

# Terraform local files
*.tfstate
*.tfstate.backup
.terraform/

# OS files
.DS_Store

