# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

*.zip
.terraform/
build/
dist/
*.pyc


# Virtual environment
venv/
.env

# Build artifacts / packages
*.zip
*.egg-info/
dist/
build/
*_cffi_backend.*.so
*_cython.*.so
*_rust.*.so
*.so

# Terraform local files
*.tfstate
*.tfstate.backup
.terraform/

# OS files
.DS_Store


